body {background-color: #0b0b0b ;
	 }



div.container{
	width: 100%;
	border: 1px;

}
header, footer {
	
	color: white;
	background:black;
	clear: left;
	padding: 0.5cm;
	text-align: center;
}

nav {
float:right;
max-width:160px;
height:1000px;
margin:0;
padding-right:0px;
border-right:150px gainsboro;

text-align:left;
}

h1{
	text-align: center;
	font-size: 70px
	}

p.inset {border-style: inset;}

h2{
	color: #ffffff
	}

h4{
	color: white;
	font-size: 85px;
	text-align: center
	}

p{
	color: #ffffff
	}